# Terraform
**/.terraform/*
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.*
crash.log

# Terraform variable files containing secrets
*.auto.tfvars
terraform.tfvars

# IDE
.idea/

# macOS
.DS_Store
